.parent{
    
    width: 800px;
    height: 500px;
    border: 0.5px solid black;
    text-align: center;
    margin-top: 100px;
    margin-left: 400px;
}
.parent2{
    background: #FF9999;
    margin: 7px;
    border: 1.5px solid black;
}
.child1{
    margin: auto;
    width: 75%;
    padding: 2px 5px 2px 5px;
}


#font{
    font-size: 30px;
}
.yellow{
    background-color: yellow;
    width: 576.9px;
    height: 300px;
    float: left;
    
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
}
.child2{
    float: left;
    position: relative;
    margin-top: 5px;
    margin-left: 5.5px;
	width: 98%;
	height: 100%;
	padding-top:0px;
    
}
#text1{
    position: absolute;
    top: 40%;
    left: 240px;
    transform: translate(-50%,-50%);
    color: white;
    font-size: 22px;
    
}

.child3{
    position: relative;
    text-align: center;
    margin-left: 5px;
	margin-top: 5px;
}
img{
    max-width: 99%;
    height: auto;
    padding-top: 10px;
}
.gray{
    
  background-color: #ECECFB;
    width: 200.9px;
    height: 300px;
    float: right;
	border-right: 1.5px solid black;
	border-bottom:  1.5px solid black;
    border-left: 1.5px solid black;
    border-top: 2px solid black;


}
